
@font-face {
  font-family: "Rondo";
  src: url(../Etch-a-Sketch/rondo.ttf) 
}



.slidecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {

    appearance: none;
    width: 150px; 
    height: 25px; 
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle  */
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #000000; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; 
    cursor: pointer; /* Cursor on hover */
  }

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

h1{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:white;
  padding-top: 30px;
  font-family: "Rondo";
  color: gold;
  font-size: 40px;
}



.etchSketch{
    display: flex;
    justify-content: center;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.bigContainer{
  background-color: rgb(250, 68, 68);
  border-radius: 30px;
  width: 1000px;
  justify-content: center;
}


#gridContainer{
    display: grid;
    background-color: white;
;
    grid-template-columns: repeat(var(--size),1fr);
    width: 700px;
    height: 700px;
}

.boxClass:hover{
  background-color: grey;
}

.foot{
  text-align: center;
  padding: 5px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    height: 700px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 186, 50);
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
}

#button:hover{
  border: solid yellow;
}
#colorPickerID:hover{
  background-color: yellow;
}



#button{
  border-radius: 8px;
  width: 150px;
  height: 30px;
  background-color: rgb(238, 237, 198);
}
#colorPickerID{
  border-radius: 8px;
  width: 150px;
  height: 30px;
}

#showColor{
  text-align: center;
}



.boxClass {
    border: 2px solid black; 
}


.colorBlack{
    background-color: black;
}

.colorRainbow{
    background-color: var(--rainbow );
}

.borderWhite{
  border: none;
}

.colorYellow#button{ 
    background-color: yellow; 
}

.colorYellow#colorPickerID{
  background-color: yellow;
}

.colorWhite{
    background-color: white;
}
